* {
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to bottom, #131313 0%, #131313 1948px, #e6e6e6 1948px, #e6e6e6 100%);
  font-family: "Alegreya", serif;
  font-family: "Nunito Sans", sans-serif;
}

p {
  cursor: default;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.wrapper, .section-video__svg, .section-about__buttons, .section-promo, .navbar__menu, .navbar__promo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active {
  color: #e3b873 !important;
  cursor: default !important;
}

.section-about__title-top, .section-video__title, .section-about__title, .section-about__button, .section-promo__title {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
}

.section-about__button:hover, .navbar__link:hover {
  color: #e3b873;
}
.active.section-about__button:hover::after, .active.navbar__link:hover::after {
  transform: scaleX(0);
}
.section-about__button::after, .navbar__link::after {
  content: "";
  display: block;
  border-bottom: 1px solid #e3b873;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.section-about__button:hover::after, .navbar__link:hover::after {
  transform: scaleX(1);
}

.navbar__button {
  padding: 13px 33px;
  font-style: italic;
  text-transform: uppercase;
  color: #e6e6e6;
  background-color: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
.navbar__button:hover {
  background-color: #cfa663;
}
.navbar__button:nth-last-child(1) {
  margin: 0;
}

.navbar {
  font-size: 12px;
  line-height: 15px;
  height: 80px;
  text-transform: uppercase;
}
.navbar__logo {
  color: #e3b873;
}
.navbar__menu {
  list-style-type: none;
}
.navbar__item {
  margin-right: 45px;
}
.navbar__item:nth-last-child(1) {
  margin: auto;
}
.navbar__link {
  text-decoration: none;
  color: #e6e6e6;
}
.section-promo {
  height: calc(100vh - 80px);
  max-height: 770px;
  color: #e6e6e6;
}
.section-promo__content {
  width: 550px;
  margin-left: 40px;
}
.section-promo__buttons .navbar__button {
  margin-right: 20px;
}
.section-promo__buttons .navbar__button:nth-last-child(1) {
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}
.section-promo__buttons .navbar__button:nth-last-child(1):hover {
  color: #e3b873;
  border: 1px solid #e3b873;
}
.section-promo__title {
  font-size: 48px;
  text-transform: uppercase;
  line-height: 132.83%;
}
.section-promo__subtitle {
  font-size: 20px;
  line-height: 36px;
  margin: 20px 0px;
}

.bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), no-repeat center center url(/IC_Repair_Design_Project/images/main-bg-1.png);
  background-size: cover;
}

.section-about__content {
  margin: 100px 0px;
  display: grid;
  grid-gap: 40px;
  grid-template-rows: minmax(auto, auto);
}
.section-about__buttons {
  grid-column: 2/6;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 40px;
  justify-items: flex-start;
}
.section-about__button {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 150%;
  cursor: pointer;
}
.section-about__text-area {
  display: grid;
  margin-left: 40px;
  grid-gap: 40px;
  grid-template-columns: repeat(2, 200px);
}
.section-about__photo-area {
  grid-column: 2/6;
  height: 480px;
  width: 720px;
}
.section-about__title-area {
  grid-column: 1/3;
}
.section-about__title {
  line-height: 138.6%;
  text-transform: uppercase;
}
.section-about__title-top, .section-video__title {
  text-transform: uppercase;
  font-size: 27px;
}
.section-about__subtitle {
  font-size: 14px;
  line-height: 27px;
  color: #e6e6e6;
  padding-top: 10px;
}
.section-about__subtitle-top {
  color: #e6e6e6;
  padding-top: 40px;
}
.section-about__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section-video__content {
  width: 820px;
  margin: 0 auto 90px;
}
.section-video__title-area {
  width: 180px;
  margin: 30px auto;
}
.section-video__text-area {
  width: 660px;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  line-height: 37px;
}
.section-video__title {
  text-align: center;
  font-size: 20px;
  color: #e6e6e6;
  margin-bottom: 10px;
}
.section-video__line {
  height: 1px;
  width: 32px;
  border: none;
  margin: auto;
  background-color: #e3b873;
}

/*# sourceMappingURL=style.css.map */
