* {
  box-sizing: border-box;
  transition: 0.2s ease-in-out;

  padding: 0;
  margin: 0;
}

body {
  background-color: #131313;

  font-family: 'Alegreya', serif;
  font-family: 'Nunito Sans', sans-serif;
}

%nunito {
  font-family: 'Nunito Sans', sans-serif;
}

$accent-color: #e3b873;
$white-color: #e6e6e6;

.container {
  width: 1240px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.active {
  color: $accent-color !important;
}

.header {
  .navbar {
    font-size: 12px;
    line-height: 15px;

    height: 80px;

    &-brend {
      color: $accent-color;
    }

    &-nav {
      @extend .wrapper;
      list-style-type: none;

      .nav-item {
        margin-right: 45px;

        &:nth-last-child(1) {
          margin: auto;
        }
      }

      .nav-link {
        text-decoration: none;

        color: #e6e6e6;

        &:hover {
          color: $accent-color;
        }
      }
    }

    &-promo {
      @extend .wrapper;

      .promo-number {
        color: $accent-color;
        margin-right: 45px;
      }
    }
  }
}

.promo-button {
  padding: 13px 33px;
  color: #e6e6e6;
  background-color: $accent-color;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: none;

  font-style: italic;

  cursor: pointer;
}

%Alegreya {
  font: {
    family: 'Alegreya';
    style: normal;
    weight: 400;
  }
}

.section-promo {
  height: calc(100vh - 80px);
  max-height: 770px;
  // border: 1px dashed red;

  display: flex;
  align-items: center;

  .promo {
    width: 550px;
    margin-left: 40px;

    &-title {
      @extend %Alegreya;

      font-size: 48px;
      text-transform: uppercase;

      line-height: 132.83%;
      color: #e6e6e6;
    }

    &-subtitle {
      font-size: 22px;
      line-height: 36px;
      color: #e6e6e6;

      margin: 20px 0px;
    }

    &-buttons {
      display: flex;

      .promo-button {
        margin-right: 20px;

        &:nth-last-child(1) {
          margin: 0;

          background-color: transparent;
          box-shadow: none;

          border: 1px solid $white-color;
          border-radius: 2px;
        }
      }
    }
  }
}

.bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    no-repeat center center url(/IC_Repair_Design_Project/images/main-bg.png);
  background-size: cover;
}
