* {
  box-sizing: border-box;
  transition: 0.2s ease-in-out;

  padding: 0;
  margin: 0;
}

body {
  background-color: #131313;

  font-family: 'Alegreya', serif;
  font-family: 'Nunito Sans', sans-serif;
}

$accent-color: #e3b873;
$white-color: #e6e6e6;

.container {
  width: 1240px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.active {
  color: $accent-color !important;
}

%Alegreya {
  font: {
    family: 'Alegreya';
    style: normal;
    weight: 400;
  }
}

.navbar {
  font-size: 12px;
  line-height: 15px;

  height: 80px;

  text-transform: uppercase;

  &__logo {
    color: $accent-color;
  }

  &__menu {
    @extend .wrapper;
    list-style-type: none;
  }

  &__item {
    margin-right: 45px;

    &:nth-last-child(1) {
      margin: auto;
    }
  }

  &__link {
    text-decoration: none;
    color: $white-color;

    &:hover {
      color: $accent-color;
    }
  }

  &__button {
    padding: 13px 33px;

    font-style: italic;
    text-transform: uppercase;

    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);

    border-radius: 2px;
    border: none;

    cursor: pointer;

    &:hover {
      background-color: #cfa663;
    }
  }
}

.section-promo {
  height: calc(100vh - 80px);
  max-height: 770px;

  @extend .wrapper;

  color: $white-color;

  &__content {
    width: 550px;
    margin-left: 40px;
  }

  &__buttons {
    .navbar__button {
      margin-right: 20px;

      &:nth-last-child(1) {
        margin: 0;

        background-color: transparent;
        box-shadow: none;

        border: 1px solid $white-color;
        border-radius: 2px;
      }
    }
  }

  &__title {
    @extend %Alegreya;

    font-size: 48px;
    text-transform: uppercase;

    line-height: 132.83%;
  }

  &__subtitle {
    font-size: 22px;
    line-height: 36px;

    margin: 20px 0px;
  }
}

.bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    no-repeat center center url(/IC_Repair_Design_Project/images/main-bg.png);
  background-size: cover;
}
