* {
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  background-color: #131313;
  font-family: "Alegreya", serif;
  font-family: "Nunito Sans", sans-serif;
  color: #1c1c1c;
}

p {
  cursor: default;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.wrapper, .section-offer__cards, .section-about__buttons, .section-promo, .navbar__menu, .section-form__menu, .navbar__promo, .section-offer .title__svg, .section-video-title .title__svg, .section-video-subtitle__content .title__svg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.active {
  color: #e3b873 !important;
  cursor: default !important;
}

.section-offer__card-title, .section-about__title-top, .section-offer .title__title, .section-video-title .title__title, .section-video-subtitle__content .title__title, .section-about__title, .section-about__button, .section-promo__title {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
}

.section-about__button:hover, .navbar__link:hover {
  color: #e3b873;
}
.active.section-about__button:hover::after, .active.navbar__link:hover::after {
  transform: scaleX(0);
}
.section-about__button::after, .navbar__link::after {
  content: "";
  display: block;
  border-bottom: 1px solid #e3b873;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.section-about__button:hover::after, .navbar__link:hover::after {
  transform: scaleX(1);
}

.section-offer__button, .section-form__button, .navbar__button {
  padding: 13px 33px;
  font-style: italic;
  text-transform: uppercase;
  color: #e6e6e6;
  background-color: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
.section-offer__button:hover, .section-form__button:hover, .navbar__button:hover {
  background-color: #cfa663;
}
.section-offer__button:nth-last-child(1), .section-form__button:nth-last-child(1), .navbar__button:nth-last-child(1) {
  margin: 0;
}

.section-offer .title__content, .section-video-title .title__content, .section-video-subtitle__content .title__content {
  width: 180px;
  margin: 0px auto;
  padding: 30px 0;
}
.section-offer .title__title, .section-video-title .title__title, .section-video-subtitle__content .title__title {
  text-align: center;
  font-size: 20px !important;
  color: #e6e6e6;
  margin-bottom: 10px;
}
.section-offer .title__svg, .section-video-title .title__svg, .section-video-subtitle__content .title__svg {
  height: 29px;
}
.section-offer .title__svg::before, .section-video-title .title__svg::before, .section-video-subtitle__content .title__svg::before, .section-offer .title__svg::after, .section-video-title .title__svg::after, .section-video-subtitle__content .title__svg::after {
  content: "";
  height: 1px;
  width: 32px;
  margin: auto;
  background-color: #e3b873;
}

.navbar {
  font-size: 12px;
  line-height: 15px;
  height: 80px;
  text-transform: uppercase;
}
.navbar__logo {
  color: #e3b873;
}
.navbar__menu, .section-form__menu {
  list-style-type: none;
}
.navbar__item {
  margin-right: 45px;
}
.navbar__item:nth-last-child(1) {
  margin: auto;
}
.navbar__link {
  text-decoration: none;
  color: #e6e6e6;
}
.section-promo {
  height: calc(100vh - 80px);
  max-height: 770px;
  color: #e6e6e6;
}
.section-promo__content {
  width: 550px;
  margin-left: 40px;
}
.section-promo__buttons .navbar__button {
  margin-right: 20px;
}
.section-promo__buttons .navbar__button:nth-last-child(1) {
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}
.section-promo__buttons .navbar__button:nth-last-child(1):hover {
  color: #e3b873;
  border: 1px solid #e3b873;
}
.section-promo__title {
  font-size: 48px;
  text-transform: uppercase;
  line-height: 132.83%;
}
.section-promo__subtitle {
  font-size: 20px;
  line-height: 36px;
  margin: 20px 0px;
}

.bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), no-repeat center center url(/IC_Repair_Design_Project/images/main-bg-1.jpg);
  background-size: cover;
}

.section-about__content {
  padding: 100px 0px;
  display: grid;
  grid-gap: 40px;
  grid-template-rows: minmax(auto, auto);
}
.section-about__buttons {
  grid-column: 2/6;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 40px;
  justify-items: flex-start;
}
.section-about__button {
  color: #6d6d6d;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 150%;
  cursor: pointer;
}
.section-about__text-area {
  display: grid;
  margin-left: 40px;
  grid-gap: 40px;
  grid-template-columns: repeat(2, 200px);
}
.section-about__photo-area {
  grid-column: 2/6;
  height: 480px;
  width: 720px;
}
.section-about__title-area {
  grid-column: 1/3;
}
.section-about__title {
  line-height: 138.6%;
  text-transform: uppercase;
}
.section-about__title-top, .section-offer .title__title, .section-video-title .title__title, .section-video-subtitle__content .title__title {
  text-transform: uppercase;
  font-size: 27px;
}
.section-about__subtitle {
  font-size: 14px;
  line-height: 27px;
  color: #e6e6e6;
  padding-top: 10px;
}
.section-about__subtitle-top {
  color: #e6e6e6;
  padding-top: 40px;
}
.section-about__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section-video-player {
  background: linear-gradient(to bottom, #131313 0%, #131313 50%, #e6e6e6 50%, #e6e6e6 100%);
}
.section-video-player__content {
  width: 820px;
  height: 459px;
  margin: 0 auto;
}
.section-video-subtitle {
  background-color: #e6e6e6;
}
.section-video-subtitle__content {
  padding: 40px 0 90px;
}
.section-video-subtitle__content .title__svg::before {
  display: none;
}
.section-video-subtitle__text-area {
  max-width: 660px;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  line-height: 37px;
}
.section-video-title .title__svg {
  background: center center url(/IC_Repair_Design_Project/images/video-cam.svg) no-repeat;
}

.section-form {
  background-color: #e6e6e6;
}
.section-form__menu {
  width: 720px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 60px 0;
}
.section-form__label {
  font-size: 13px;
  line-height: 21px;
  color: #6d6d6d;
}
.section-form__input {
  font-size: 14px;
  line-height: 23px;
  width: 200px;
  color: #4a4a4a;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #6d6d6d;
}
.section-form__input:focus {
  border-bottom: 1px solid #e3b873;
  outline: none;
}
.section-form__content {
  display: grid;
  margin-right: 60px;
}
.section-form__content:nth-last-child(1) {
  margin-top: 30px;
  display: flex;
}
.section-form__content:nth-last-child(1) :nth-child(1) {
  width: fit-content;
  margin-right: 10px;
}
.section-form__button {
  width: 200px;
}

.section-offer {
  background-color: #e6e6e6;
  padding: 90px 0;
}
.section-offer .title__svg {
  background: center center url(/IC_Repair_Design_Project/images/tools.svg) no-repeat;
}
.section-offer__card {
  width: 390px;
  height: 608px;
  display: grid;
}
.section-offer__card-image {
  width: 100%;
  height: 420px;
  object-fit: cover;
}
.section-offer__card-description {
  width: 330px;
  height: 286px;
  background-color: #fff;
  padding: 25px 30px;
  justify-self: center;
  margin-top: -121px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  border-radius: 2px;
}
.section-offer__card-title {
  padding-bottom: 10px;
}
.section-offer__card-list {
  line-height: 27px;
}
.section-offer__card-item {
  margin-left: 20px;
  color: #6d6d6d;
}
.section-offer__button {
  width: 230px;
  margin: -20.5px 0px 0px 15px !important;
}

/*# sourceMappingURL=style.css.map */
